/*
This, is a css theme abstraction to enhance usability. It also intends to bring out elegance of the site.

The following things should be noted, but not be limited to.
1. Layout
2. Size battles with intensity
3. Grouping or clouds
4. Amount of combinations the lazy mind can handle in a averagely complex site.
5. A site can be minimalist, complex, pretty native and ugly(some popular sites do well like this)
6. mix and match should be preserved when even possible.
7. If you give hopes to the user(like a lover, yes), you should stick to it. If a link was a few times made blue on
mouse over, better keep your promise on all links!

Some initial conventions
intensity is the default foreground color
layer is also the background color
layer is NOT level
A layer is a color, which matches with the theme
a-z suffixes just indicate diversity and does not imply importance
1-n suffixes just indicate importance and does not imply diversity
if a layer or intensity defines both foreground AND background, they should have an additional seperation selector e.g.
.intensity_0{
    color:#ffffff;
    background-color:#000000;
}.intensity_0_f{
    color:#ffffff;
}.intensity_0_b{
    background-color:#000000;
}

this enables the user to select only the specific feature, i.e. foreground or background.

precedence is, engage, then intensity, then others

it is a good practice to help a user know where his mouse is by using a hover and focus property

grouping currently means, a layer, and a specific layer, if to support only a group, should be applied only to that group

*/

.hover:hover{

}
.active:active{

}

.engage{

}
.engage_a{

}
.engage_b{

}
.engage_c{

}


.intensity{/*default foreground*/
    color:#000000;
}
.intensity_0{
    color:#ffffff;
    background-color:#000000;
}.intensity_0_f{
    color:#ffffff;
}.intensity_0_b{
    background-color:#000000;
}
.intensity_1{

}


.layer{/*default background*/
    color:#ffffff;
}
.layer_0{

}
.layer_1{

}



