		#flickrgetviewer,#flickrgetviewer li{
			list-style:none;
			margin:0;
			padding:0;
		}
		#flickrgetviewer{
			width:375px;
			position:absolute;
			top:0;
			left:50%;
			margin-left:-200px;
		}
		#flickrgetviewer li{
			width:75px;
			height:75px;
			float:left;
		}
		#flickrgetviewer img{
			display:block;
			border:none;
		}
		#flickrgetviewer img{
			display:block;
			border:none;
		}
		#flickrgetviewer div{
			position:absolute;
			top:50%;
			left:50%;
			margin-top:-25%;
			margin-left:-25%;
			border:5px solid #fff;
		}
		#flickrgetviewer a{
			display:block;
			background:#ddd;
			color:#000;
			text-align:right;
			padding:.2em .5em;
			font-weight:bold;
		}
		#flickrgetviewer li a,#flickrgetviewer div a{
			display:inline;
			padding:0;
		}