/*
------------------------------
The idea is to
Definitely use white as the background of page
Light colors as background of elements
White or darker color of the background as foreground
Divineness through white foreground
------------------------------
*/

/**DEFAULT*/
BODY{
    color: #000000;
	font-family: impact;
}

DIV{
    color: #000000;
	font-family: impact;
}

P{
    color: #000000;
	font-family: impact;
}

/*DEFAULTS**/


/**RED*/

.fg_892e40
{
    color:#892e40
}
.bg_892e40
{
    background-color: #892e40
}

/*RED**/


/**Orange*/

/*Organge**/




/**YELLOW*/



.fg_7e6e5f
{
    color:#7e6e5f
}
.bg_7e6e5f
{
    background-color: #7e6e5f
}

.fg_7e5f40
{
    color:#7e5f40
}
.bg_7e5f40
{
    background-color: #7e5f40
}

.fg_644e50
{
    color:#644e50
}
.bg_644e50
{
    background-color: #644e50
}

.fg_ab702c
{
    color:#ab702c
}
.bg_ab702c
{
    background-color: #ab702c
}

.fg_82612e
{
    color:#82612e
}
.bg_82612e
{
    background-color: #82612e
}

/*YELLOW**/



/**GREEN*/
.fg_313729
{
    color:#313729
}
.bg_313729
{
    background-color: #313729
}

.fg_4d5726
{
    color:#4d5726
}
.bg_4d5726
{
    background-color: #4d5726
}


/*GREEN**/



/**BLUE*/

.fg_9999ff
{
    color:#9999ff
}
.bg_9999ff
{
    background-color: #9999ff
}

.fg_7fe2ff
{
    color:#7fe2ff
}
.bg_7fe2ff
{
    background-color: #7fe2ff
}


.fg_2d2e4c
{
    color:#2d2e4c
}
.bg_2d2e4c
{
    background-color: #2d2e4c
}

.fg_325b6e
{
    color:#325b6e
}
.bg_325b6e
{
    background-color: #325b6e
}


/*BLUE**/



/**PURPLE*/
.fg_dd55ee
{
    color:#dd55ee
}
.bg_dd55ee
{
    background-color: #dd55ee
}

.fg_fd78e1
{
    color:#fd78e1
}
.bg_fd78e1
{
    background-color: #fd78e1
}

.fg_bb77ee
{
    color:#bb77ee
}
.bg_bb77ee
{
    background-color: #bb77ee
}

.fg_aa77ff
{
    color:#aa77ff
}
.bg_aa77ff
{
    background-color: #aa77ff
}

.fg_f5ec63
{
    color:#f5ec63
}
.bg_f5ec63
{
    background-color: #f5ec63
}

.fg_6a3a67
{
    color:#6a3a67
}
.bg_6a3a67
{
    background-color: #6a3a67
}

.fg_c181be
{
    color:#c181be
}
.bg_c181be
{
    background-color: #c181be
}



/*PURPLE**/



/**BLACK AND WHITE*/

.fg_807c71
{
    color:#807c71
}
.bg_807c71
{
    background-color: #807c71
}

.fg_647484
{
    color:#647484
}
.bg_647484
{
    background-color: #647484
}


/**BLACK AND WHITE**/





DIVINE MSG


/*
------------------------------
The idea is to
Definitely use white as the background of page
Light colors as background of elements
White or darker color of the background as foreground
Divineness through white foreground
------------------------------
*/

/**DEFAULT*/
BODY{
    color: #000000;
}

DIV{
    color: #000000;
}

P{
    color: #000000;
}

/*DEFAULTS**/

/*LOGO*/
.logo_red
{
    color:#B9121B
}.logo_green
{
    color:#85DB18
}.logo_blue
{
    color:#0074D9
}.logo_yellow
{
    color:#F2B705
}
/*EO LOGO*/

/**BLUE*/
/**Light Blue*/
.fg_e9eaff
{
    color:#e9eaff
}
.bg_e9eaff
{
    background-color: #bb77ee   /**/
}

.fg_d6ebff
{
    color:#d6ebff
}
.bg_d6ebff
{
    background-color: #d6ebff
}


.fg_cee7ef
{
    color:#cee7ef
}
.bg_cee7ef
{
    background-color: #cee7ef
}
/**Light Blue**/
.fg_a9abf1
{
    color: #a9abf1
}
.bg_a9abf1
{
    background-color: #6a3a67   /**/
}

.fg_blue
{
    color: #0000ff
}
.bg_blue
{
    background-color: #0000ff
}
/*BLUE**/

/**GOLD*/
.fg_f1cf69
{
    color:#f1cf69
}
.bg_f1cf69
{
    background-color: #f1cf69
}
/*GOLD**/


/**YELLOW*/
.fg_ffffad
{
    color:#ffffad
}
.bg_ffffad
{
    background-color: #ffffad
}

.fg_feffac
{
    color:#feffac
}
.bg_feffac
{
    background-color: #feffac
}
/*YELLOW**/

/**PURPLE*/
.fg_f8bdff
{
    color:#f8bdff
}
.bg_f8bdff
{
    background-color: #f8bdff
}

.fg_f6adff
{
    color:#f6adff
}
.bg_f6adff
{
    background-color: #f6adff
}

.fg_purple
{
    color:#800080
}
.bg_purple
{
    background-color: #800080
}

/*PURPLE**/

/**ORANGE*/

.fg_fdd17c
{
    color:#fdd17c
}
.bg_fdd17c
{
    background-color: #fdd17c
}

.fg_orange
{
    color:#ffa500
}
.bg_orange
{
    background-color: #ffa500
}

/*ORANGE**/

/**GREEN*/

.fg_a5dbb0
{
    color:#a5dbb0
}
.bg_a5dbb0
{
    background-color: #a5dbb0
}
.fg_green
{
    color:#276434
}
.bg_green
{
    background-color: #276434
}

/*GREEN**/

/**RED*/

.fg_ff9696
{
    color:#ff9696
}
.bg_ff9696
{
    background-color: #ff9696
}

.fg_ff6c6c
{
    color:#ff6c6c
}
.bg_ff6c6c
{
    background-color: #ff6c6c
}
.fg_red
{
    color:#b30000
}
.bg_red
{
    background-color: #b30000
}

/*RED**/
/**YELLOW*/

.fg_fff277
{
    color:#fff277
}
.bg_fff277
{
    background-color: #fff277
}
.fg_yellow
{
    color:#ffe400
}
.bg_yellow
{
    background-color: #ffe400
}

/*YELLOW**/




