<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ilikeplaces</display-name>
    <!-- #################################### SERVLETS ################################################################ -->
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>ai.baby.servlets.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenericFileGrabber</servlet-name>
        <servlet-class>ai.baby.servlets.GenericFileGrabber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSignup</servlet-name>
        <servlet-class>ai.baby.servlets.ServletSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessViewStatusMessages</servlet-name>
        <servlet-class>ch.qos.logback.access.ViewStatusMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GreatWallOfExceptionsEtc</servlet-name>
        <servlet-class>ai.baby.servlets.StatusEtc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GreatWallOfExceptions500</servlet-name>
        <servlet-class>ai.baby.servlets.Status500</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GreatWallOfExceptions404</servlet-name>
        <servlet-class>ai.baby.servlets.Status404</servlet-class>
    </servlet>
    <servlet>
        <display-name>ProfileRedirect</display-name>
        <servlet-name>ProfileRedirect</servlet-name>
        <servlet-class>ai.baby.servlets.filters.ProfileRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutNRedirect</servlet-name>
        <servlet-class>ai.baby.servlets.filters.LogoutNRedirect</servlet-class>
    </servlet>

    <!-- #################### END OF SERVLETS #############################-->


    <!-- #################### SERVLET MAPPINGS ############################-->
    <servlet-mapping>
        <servlet-name>AccessViewStatusMessages</servlet-name>
        <url-pattern>/lbAccessStatus</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GenericFileGrabber</servlet-name>
        <url-pattern>/gfg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSignup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GreatWallOfExceptionsEtc</servlet-name>
        <url-pattern>/errorEtc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GreatWallOfExceptions500</servlet-name>
        <url-pattern>/error500</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GreatWallOfExceptions404</servlet-name>
        <url-pattern>/error404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileRedirect</servlet-name>
        <url-pattern>/i/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutNRedirect</servlet-name>
        <url-pattern>/so/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>

    <!--########### BASICALLY ITSNAT HANDLES EVERYTHING ELSE #############-->
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/page/*</url-pattern>
    </servlet-mapping>
    <!-- ##################### END OF SERVLET MAPPINGS ####################-->


    <!--###################### FILTERS ####################################-->
    <!--<filter>-->
    <!--<description>Subdomain Filter.</description>-->
    <!--<filter-name>SubdomainForward</filter-name>-->
    <!--<filter-class>SubdomainForward</filter-class>-->
    <!--<init-param>-->
    <!--<param-name>ON</param-name>-->
    <!--<param-value>true</param-value>-->
    <!--</init-param>-->
    <!--</filter>-->
    <filter>
        <description>Set HTTP headers for a mapping.</description>
        <filter-name>HeaderFilter</filter-name>
        <filter-class>ai.baby.servlets.filters.FilterHeader</filter-class>
        <!--<init-param>-->
        <!--<description>Add an Expires Header</description>-->
        <!--<param-name>header</param-name>-->
        <!--<param-value>Expires: Thu, 15 Apr 2011 20:00:00 GMT</param-value>-->
        <!--</init-param>-->
    </filter>
    <filter>
        <filter-name>FilterCharset</filter-name>
        <filter-class>ai.baby.servlets.filters.FilterCharset</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>Debug</filter-name>
        <filter-class>ai.baby.servlets.filters.Debug</filter-class>
    </filter>
    <!--<filter>-->
    <!--<filter-name>FacebookUserFilter</filter-name>-->
    <!--<filter-class>FacebookUserFilter</filter-class>-->
    <!--<init-param>-->
    <!--<param-name>facebook_api_key</param-name>-->
    <!--<param-value>139373316127498</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
    <!--<param-name>facebook_secret</param-name>-->
    <!--<param-value>56a2340af5eb11db36258f9f7a07b2b9</param-value>-->
    <!--</init-param>-->
    <!--</filter>-->
    <!--###################### ENF OF FILTERS ####################################-->


    <!--###################### FILTER MAPPINGS ####################################-->


    <filter-mapping>
        <filter-name>Debug</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>*.jpg</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>*.jpeg</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>*.css</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>*.png</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>*.gif</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>*.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/miniquarry/all_skeleton.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/miniquarry/all_aarrr.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/css/miniquarry/layout.css</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>FilterCharset</filter-name>
        <url-pattern>/page/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>


    <!--<filter-mapping>-->
    <!--<filter-name>SubdomainForward</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--<dispatcher>REQUEST</dispatcher>-->
    <!--</filter-mapping>-->
    <!--<filter-mapping>-->
    <!--<filter-name>FacebookUserFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--<dispatcher>REQUEST</dispatcher>-->
    <!--</filter-mapping>-->

    <!--###################### END OF FILTER MAPPINGS ####################################-->

    <error-page>
        <error-code>500</error-code>
        <location>/error404</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error500</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorEtc</location>
    </error-page>

</web-app>
