<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ilikeplaces</display-name>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>ai.ilikeplaces.servlets.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploads</servlet-name>
        <servlet-class>ai.ilikeplaces.servlets.ServletFileUploads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenericFileGrabber</servlet-name>
        <servlet-class>ai.ilikeplaces.servlets.GenericFileGrabber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>ai.ilikeplaces.servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSignup</servlet-name>
        <servlet-class>ai.ilikeplaces.servlets.ServletSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActivate</servlet-name>
        <servlet-class>ai.ilikeplaces.servlets.ServletActivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessViewStatusMessages</servlet-name>
        <servlet-class>ch.qos.logback.access.ViewStatusMessagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessViewStatusMessages</servlet-name>
        <url-pattern>/lbAccessStatus</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FileUploads</servlet-name>
        <url-pattern>/fileuploads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericFileGrabber</servlet-name>
        <url-pattern>/gfg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSignup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActivate</servlet-name>
        <url-pattern>/activate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/page/*</url-pattern>
    </servlet-mapping>

    <!--###################### FILTERS ####################################-->
    <filter>
        <description>Profile Redirect Filter.</description>
        <filter-name>ProfileFilter</filter-name>
        <filter-class>ai.ilikeplaces.servlets.filters.ProfileRedirect</filter-class>
    </filter>
    <filter>
        <description>Logout And Redirect Filter.</description>
        <filter-name>LogoutNRedirect</filter-name>
        <filter-class>ai.ilikeplaces.servlets.filters.LogoutNRedirect</filter-class>
    </filter>
    <filter>
        <description>Set HTTP headers for a mapping.</description>
        <filter-name>HeaderFilter</filter-name>
        <filter-class>ai.ilikeplaces.servlets.filters.FilterHeader</filter-class>
        <!--<init-param>-->
        <!--<description>Add an Expires Header</description>-->
        <!--<param-name>header</param-name>-->
        <!--<param-value>Expires: Thu, 15 Apr 2011 20:00:00 GMT</param-value>-->
        <!--</init-param>-->
    </filter>
    <filter>
        <filter-name>FilterCharset</filter-name>
        <filter-class>ai.ilikeplaces.servlets.filters.FilterCharset</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <!--###################### ENF OF FILTERS ####################################-->


    <!--###################### FILTER MAPPINGS ####################################-->

    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>*.jpg</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>*.jpeg</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>*.css</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>*.png</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>*.gif</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/js/util.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/js/miniquarry/util.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/js/Nifty.onload.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/js/miniquarry/Nifty.onload.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/nifty/niftycube.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/nifty/miniquarry/niftycube.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/js/ItsNatEventMonitor.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/js/miniquarry/ItsNatEventMonitor.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/js/jquery.yoxview/yoxview-init.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/js/jquery.yoxview/jquery.yoxview-0.9.min.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/js/jquery.yoxview/jquery.timers-1.2.min.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/js/jquery.ready.yox.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/js/miniquarry/jquery.ready.yox.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/js/ajaxupload.3.5.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/js/miniquarry/ajaxupload.3.5.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>


    <filter-mapping>
        <filter-name>FilterCharset</filter-name>
        <url-pattern>/page/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ProfileFilter</filter-name>
        <url-pattern>/i/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LogoutNRedirect</filter-name>
        <url-pattern>/page/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!--###################### END OF FILTER MAPPINGS ####################################-->

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>500</error-code>
        <location>/</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/</location>
    </error-page>
    <!--<error-page>-->
    <!--<exception-type>java.lang.Throwable</exception-type>-->
    <!--<location>/</location>-->
    <!--</error-page>-->


  <!-- Define a Security Constraint on this Application -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>OpenEJB Application</web-resource-name>
      <url-pattern>/openejb/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ilp</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Define the Login Configuration for this Application -->
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Application</realm-name>
  </login-config>

  <!-- Security roles referenced by this web application -->
  <security-role>
    <description>
      The role that is required to log in to the OpenEJB Application
    </description>
    <role-name>ilp</role-name>
  </security-role>
    
</web-app>
